body {
  background-color: #fff;
  color: #222;
  font-family: "pill-gothic-600mg-1", "pill-gothic-600mg-2", Helvetica, sans-serif;
}
a {
  color: #981a1a;
}
p {
  font-size: 13px;
}
h1 {
  color: #981a1a;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: -0.04em;
  margin: 0;
}
h1 a {
  color: inherit;
  text-decoration: none;
}
h2 {
  color: #981a1a;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}
h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
code {
  font-family: Menlo, monospace;
}
pre {
  background: #f8f8f8;
  display: block;
  font-size: 11px;
  overflow-x: auto;
  padding: 10px 15px;
}
pre::-webkit-scrollbar {
  border-radius: 1ex;
  height: 5px;
}
pre::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, .2);
  border-radius: 1ex;
}
#top {
  background-color: #981a1a;
  height: 5px;
}
h1#logo {
  color: #000;
  font-size: 52pt;
  font-family: "league-gothic-1","league-gothic-2", Helvetica, sans-serif;
  letter-spacing: -0.04em;
  line-height: 1;
  margin: 0;
  text-align: right;
  text-transform: lowercase;
}
h1#logo span {
  color: #981a1a;
}
.post-index-title {
  font-family: "proxima-nova-1", "proxima-nova-2";
  font-weight: normal;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #222;
  margin: 93px 0 5px 60px;
}
.post-index {
  margin: 0 0 0 60px;
}
.post-index li {
  list-style: none;
  margin-left: 0;
  margin-bottom: 10px;
  text-align: right;
}
.post-index li a {
  text-decoration: none;
}
.post-index li a:hover {
  text-decoration: underline;
}
.post-index li span {
  display: block;
}
.posts li {
  border-bottom: 3px solid #981a1a;
  list-style: none;
  margin-left: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
p#intro {
  background: #981a1a;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 25px;
  padding: 5px 10px 10px 10px;
  text-align: center;
  text-shadow: 0 1px 1px #000;
}
#home-page h1#logo {
  margin-top: 253px;
}
#home-page p {
  margin-top: 260px;
  padding: 0 10px;
}
#disqus_thread {
  border-top: 3px solid #981a1a;
  border-bottom: 3px solid #981a1a;
  margin-bottom: 20px !important;
  padding-top: 20px;
}
figure, figcaption {
  display: block;
  margin-left: 0;
  margin-right: 0;
}
figure.screenshot {
  margin-bottom: 20px;
}
figure.screenshot img {
  box-shadow: 0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  padding: 5px;
  width: 100%;
}
figure.screenshot figcaption {
  font-size: 12px;
  text-align: right;
}
#subscribe {
  background: #f8f8f8 url(http://www.feedburner.com/fb/images/pub/feed-icon16x16.png) 3px 3px no-repeat;
  font-size: 11px;
  padding: 5px 4px 0 23px;
  position: absolute;
  top: 122px;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
}
#subscribe:hover {
  text-decoration: underline;
}
#alpha {
  position: relative;
}
