{% include header.html %}
<body id="{{ page.page_id }}">
  <div id="top"></div>
  <div class="container_12">
    <div class="grid_4" id="alpha">
      <h1 id="logo"><a href="/">Negative <span>Code</span></a></h1>
      {% include entries.html %}
    </div>
    <div class="grid_7">
      <p id="intro">
        I'm David Graham, a software designer in Denver, Colorado. I work at
        GitHub, making github.com a little more wonderful every day. Follow
        me on <a href="https://twitter.com/davidgraham">Twitter</a>!
      </p>
      <article>
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        {{ content }}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'negativecode';
            var disqus_identifier = '{{ page.id }}';
            var disqus_url = 'http://www.negativecode.com{{ page.url }}';
            var disqus_title = '{{ page.title }}';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
      </article>
    </div>
  </div>
</body>
</html>
